### Assignment 4

**Q 1 : What exactly is [ ]?**

**Answer** : In python, above symbol is use to define the list. List is a data type which allows you to store multiple data types(int, float, string etc) at once and we perform different operation on it.

In [1]:
a = int(int('3' * 2) / 11)
print(a)

3

In [2]:
print(int('3'*2))

33

**Q 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**

**Answer:With replacing the value already present at third postion :**

In [11]:
spam = [2, 4, 6, 8, 10]
spam[2] = 'hello'
print(spam)

[2, 4, 'hello', 8, 10]

**Without replacing the value already present at third position**

In [12]:
spam = [2, 4, 6, 8, 10]
spam.insert(2,'hello')
spam

[2, 4, 'hello', 6, 8, 10]

**Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.<br>
Q3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?<br>
Q4. What is the value of spam[-1]?<br>
Q5. What is the value of spam[:2]?**

In [16]:
#Answer 3
spam = ['a','b','c','d']
spam[int(int('3'*2)/11)]

'd'

**Explanation :**<br>
int('3'*2)<br>
int('33')<br>
int(33/11)<br>
spam[3]<br>

Hence the value of spam[3] is 'd'.

In [18]:
#Answer 4 : The negative index start from the last hence d is at -1 position.
spam[-1]

'd'

In [20]:
#Answer 5 : In list this --> [start index:end index] represent . In this representation end point is not included. So for above question
#start index is by default zero and end index is 2 (but 2 is not included). Hence answer will be ['a','b']
spam[:2]

['a', 'b']

**Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.<br>
Q 6. What is the value of bacon.index('cat')?<br>
Q 7. How does bacon.append(99) change the look of the list value in bacon?<br>
Q 8. How does bacon.remove('cat') change the look of the list in bacon?**

**Answer 6:**

In [34]:
#list.index will give you the number of index for that particular value. If the duplicate value available, it will give you 
# the index of first appearence of that value

bacon = [3.14,'cat',11,'cat',True]
bacon.index('cat')

1

**Answer 7:**

In [36]:
#It will add the 99 at the last index in the list
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

**Answer 8:**

In [37]:
#The remove() function will remove the value from the list. And if the values are duplicate then it will remove the value which appeared
#first.
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

**Q9. What are the list concatenation and list replication operators?**

**Answer** : 
Concatenation is process of adding multiple list element in single list. For concatenation '+' operator is used. One list are added at the end of another list.

Replication is process of duplicating the list. '*' operator is used for replication operation.The number duplicate element depend upon the number of times we are duplicating the list. Look at the example for more clarification:

In [5]:
list1 = [1,9,8]
list2 = [6,7,8]
list3 = list1 + list2
list4 = list1 * 2
list5 = list2 * 3

print(list3)
print(list4)
print(list5)

[1, 9, 8, 6, 7, 8]
[1, 9, 8, 1, 9, 8]
[6, 7, 8, 6, 7, 8, 6, 7, 8]

**Q10. What is difference between the list methods append() and insert()?**

**Answer**: append() method is used to add element in the list but this only add the element in the list at the last position but the insert function can add element with the given position. **insert()** accept two argument i.e. position and element (which we want to insert) while **append()** accept only one argument i.e. element which we want to add. **insert()** can add element at any position but if the position is greater than n+1 (where n is index number) it will add the element at **(n+1)th** position.

In [13]:
l1 = [1,2,3,4,5]
l1.insert(2,100)
print(l1)

[1, 2, 100, 3, 4, 5]

In [15]:
l2 = [1,2,3,4,5]
l2.append(8)
print(l2)

[1, 2, 3, 4, 5, 8]

**Q 11. What are the two methods for removing items from a list?**

**Answer**: The two methods for removing items from a list are - 1: remove()  2: pop()<br> 
remove() : The remove() method will remove specific element. The remove() function will take one argument and the argument is the element which we want to remove.<br>


pop(): The pop() function will remove the last element of the list and return that element.

In [23]:
l1 = [1,4,100,6,8,9]
l1.remove(100)

In [24]:
print(l1)

[1, 4, 6, 8, 9]

In [25]:
l1.pop()

9

**Q 12. Describe how list values and string values are identical.**

**Answer:** In both the cases we can access the element with their index value. We can perform all operation on string as similar to list.

**Q 13. What's the difference between tuples and lists?**

**Answer**: The primary difference between the list and tuple is former is mutable and later one is immutable. It means element in the list can be add, delete and replace while in tuple it's not possible.

**Q 14. How do you type a tuple value that only contains the integer 42?**

**Answer**: We can type a tuple value that contain only one integer as :<br>
tp1 = (49,)

In [27]:
tp1 = (42,)
type(tp1)

tuple

**Q 15. How do you get a list value's tuple form? How do you get a tuple value's list form?**

**Answer** : To convert list valu's into tuple form we use tuple() and pass the list inside the parenthesis and to convert tuple values into list we use the list() function and pass the tuple into the function.

In [5]:
tp2 = (45,32,56,78,90,23,21)
list2 = [34,5,6,7,3,45,67,8,4]
tp2_to_list3 = list(tp2)
list2_to_tp3 = tuple(list2)

In [6]:
print(type(tp2_to_list3))
print(type(list2_to_tp3))

<class 'list'>
<class 'tuple'>

**Q 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**

**Answer**: Variables that contain list generally contain the references to the list rather than the list element themselves.

**Q 17. How do you distinguish between copy.copy() and copy.deepcopy()?**

**Answer**: copy.copy() function is useful to create a copy of data (list) but copy.copy() fails when the the list is 2-dimensional while the copy.deepcopy() works on 2-dimensional list. We can see in the example :

In [11]:
import copy
list1 = [2,3,4,5,6,7]

list2 = copy.copy(list1)

list1[4] = 10

print(list1)

print(list2)

[2, 3, 4, 5, 10, 7]
[2, 3, 4, 5, 6, 7]

In [12]:
list3 = [2,3,4 ,[4,5,6],9,0]

list4 = copy.copy(list3)

list3[3][0] = 10

print(list3)

print(list4)

[2, 3, 4, [10, 5, 6], 9, 0]
[2, 3, 4, [10, 5, 6], 9, 0]

We can see that copy.copy() can't hold the value in 2-dimensional list. The value changed in other list also when we changed in first list. Now we will see with the deep.copy()

In [13]:
list5 = [2,3,4 ,[4,5,6],9,0]

list6 = copy.deepcopy(list5)

list5[3][0] = 10

print(list5)

print(list6)

[2, 3, 4, [10, 5, 6], 9, 0]
[2, 3, 4, [4, 5, 6], 9, 0]

Now even the 2-dimensional list values didn't changed when we use the deep.copy()