### Assignment 6

**Q 1. What are escape characters, and how do you use them?**

**Answer :** An escape character is backlash \ followed by character you want to insert. It is use when you want to insert the illigal character in the string.

txt = "Hey this is "James Bob" here"

Here we can see "James Bob" is illigal character for the string. This problem can be solve with the use of escape character. Now it will not throw the error. We can see in the example -

In [44]:
txt = "Hey this is \"James Bob\" here"
print(txt)

Hey this is "James Bob" here

**Q2. What do the escape characters n and t stand for?**

**Answer :** The escape character \n use to print the value in new line and \t use to give tab space between two character. We can see in the example :

In [45]:
txt1 = "You can see\ttab space between see and tab but please print Hello again in new line\nHello"
print(txt1)

You can see	tab space between see and tab but please print Hello again in new line
Hello

**Q3. What is the way to include backslash characters in a string?**

**Answer:** An escape character is backlash \ followed by character you want to insert in the string is the way to insert backlash character in the string. We can see in the given example :

In [48]:
txt = "Hey this is "James Bob" here"

SyntaxError: invalid syntax (809566458.py, line 1)

Now insert "James Bob" with the \ character.

In [49]:
txt = "Hey this is \"James Bob\" here"
print(txt)

Hey this is "James Bob" here

**Q4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?**

**Answer :** The single quote in Howl's is fine because it is not use to start and end the sentence on the other hand double quote is use for the start and end the sentence that is why double quote is escaped problem.

**Q5. How do you write a string of newlines if you don't want to use the n character?**

**Answer :** We can use ''' ''' (three single quotes) to print string in new line or as we want.

In [50]:
txt3 = '''My name is James Bob. 
I am python developer'''

In [51]:
print(txt3)

My name is James Bob.
I am python developer

**Q6. What are the values of the given expressions?**

**Answer**:<br>

**Expression 1:** 'Hello, world!'[1]

The above expression print the first index value.

In [52]:

'Hello, world!'[1]

'e'

**Expression 2:** 'Hello, world!'[0:5]

The above expression print the character from index 0 to 4th index.

In [53]:
'Hello, world!'[0:5]

'Hello'

**Expression 3:**'Hello, world!'[:5]

The above also print the same i.e. from index 0 to index 4th because by default it will take start as 0th index.

In [54]:
'Hello, world!'[:5]

'Hello'

**Expression 4:**'Hello, world!'[3:]

The above expression will print the characters from index 3rd to last index because the end point for this expression by default will be last index.

In [55]:
'Hello, world!'[3:]

'lo, world!'

**Q7. What are the values of the following expressions?<br>
'Hello'.upper()<br>
'Hello'.upper().isupper()<br>
'Hello'.upper().lower()**

**Answer :**<br> **upper()** - This function convert all the character into upper alphabet.<br>
**isupper()** - It will give you true when all the characters are in upper case else give you false.<br>
**lower()** - It will convert all the character into lower case.

In [56]:
'Hello'.upper()

'HELLO'

In [57]:
'Hello'.upper().isupper()

True

In [58]:
'Hello'.upper().lower()

'hello'

**Q 8. What are the values of the following expressions?<br>
'Remember, remember, the fifth of July.'.split()**

**Answer :** split() function split the words on the basis of argument pass in the function. And print the list of all the words in sentence.

In [59]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

The below expression first split the sentence then join the sentence with '-' .

In [60]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

**Q 9. What are the methods for right-justifying, left-justifying, and centering a string?**

**Answer :** <br>
**right-justifying** - There is rjust( len, fillchr ) function which is use for right-justifying. len is argument by which we shift the sentence and fillchr is fill character in that place.<br>

**left-justifying** - There is ljust( len, fillchr ) function which is use for left-justifying. len is argument by which we shift the sentence and fillchr is fill character in that place.<br>

**center** - This will keep your sentence at center position. center(len,fillchr) also take two argument.

In [61]:
text =  "This is James Bob from America."
print(text)

print(text.ljust(40,"*"))

print(text.rjust(40,"*"))

print(text.center(40,"*"))

This is James Bob from America.
This is James Bob from America.*********
*********This is James Bob from America.
****This is James Bob from America.*****

**Q10. What is the best way to remove whitespace characters from the start or end?**

**Answer** : strip() is use to remove white spaces from the string.We can see in the example -

In [62]:
text10 =  "   M.S. Dhoni is the wicket-keeper in world    "
text10.strip()

'M.S. Dhoni is the wicket-keeper in world'