### Assignment 1

**Question 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.**


### *
### &#39;hello&#39;
### -87.8
### -
### /
### +
### 6

 **Answer 1**
 
 '*' : This is expression 
 
'hello' : This is string value

-87.8 : This is integer value

'-' : This is expression

'/' : This is expression

'+' : This is expression

6 : This is integer value

**Question 2. What is the difference between string and variable?**

**Answer 2:**

**string:** It is a datatype which is a sequence of char value.

**example : 'hello world', 'ineuron','xyz'**

**variable:** A variable is use to store the data. In python we need not to specify the variable type before assigning the values but as we assign the data or value it automatically understand the type of variable.

**example**

**user_input_1 = 2500**

**user_input_2 = "My name is Sachin"**

**user_input_3 = 35.55**

**Qustion 3: Describe three different data types.**

Answer: In python there are more than three data types but I am going to describe the integer, float and string data types.

**integer**: This is a kind of data type which represent by int class.This contains positive and negative whole number but not fraction or decimal values. There is no limit for the integer values in python.

##### Example : x = 23, y = -12, z = 98

**float**: This data type represent the floating point numbers. This represent the number with decimal or in fraction form.

##### Example: x = 23.5, y = 43/7, z= 0.50

**string**: This is kind of data type which is array of unicode character. We can access the element of string using square bracket.Python do not have character data type, a single character can be string with the length of 1. 

##### Example: name = 'ineuron' , address = '403,2nd street' , dimension= 'L'

**Question 4: What is an expression made up of? What do all expressions do?**

**Answer:** Expression is made up of operands and operators which produce some other values. It is used to perform some operation and solve the critical problem.

##### example: write a program to calculate the (a+b)^2 in expression form.
**formula = a^2 + b^2 + 2*a*b**

**Question 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

**Answer:** Expression is used to solve the critical problem and give the result or produce some other values.But the statment is an instruction that execute by python interpreter and produce the result if there is any. Statment are two types - Assignment statement and print statement.

**Question 6: After running the following code, what does the variable bacon contain?**
   bacon = 22
   bacon + 1
   
 **Answer**: It will print 22 because we are not storing the value of bacon after adding +1 so we will get the output as 22.

**Question 7. What should the values of the following two terms be?**

'spam' + 'spamspam'

'spam' * 3

**Answer**: If we print both the statement we will get the same result. We can see in the below code -

In [14]:
print('spam' + 'spamspam')

print('spam' * 3)

spamspamspam
spamspamspam

**8. Why is eggs a valid variable name while 100 is invalid?**

**Answer :**  Yes, it is because of interger values are not allowed to initiate as variable.In any programming language interger values are not used as variable. It will generate syntax error. Variable name should be name not a value.

**Question 9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

**Answer**: The three function are - int(), float(), str()

In [15]:
x = int(9)
y = float(9)
z = str(9)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))


#We can clearly see type of x,y,z i.e. x is integer , y is float and z is string type of variable.

9
9.0
9
<class 'int'>
<class 'float'>
<class 'str'>

**Question 10: Why does this expression cause an error? How can you fix it?**

'I have eaten ' + 99 + ' burritos.'

**Answer:** We can concatenate the string and interger values together. It will generate the type error. We can fix it by converting the integer into string. The correct way is given below - 

'I have eaten ' + '99' + ' burritos.'

Now 99 is also a string value and it can be concatenate the values. See the practicle of it below -

In [18]:
print('I have eaten ' + 99 + ' burritos.')

TypeError: can only concatenate str (not "int") to str

In [19]:
print('I have eaten ' + '99' + ' burritos.')

I have eaten 99 burritos.